{% extends "vichekesho_app/base.html" %}

{% block title %}contact{% endblock title %}

{% block content %}
  <h2>Contact Us</h2>
  <p>If you have any questions or feedback, feel free to reach out to us!</p>
  <ul class="contact-list">
    <li><strong>Email:</strong> <a href="mailto:hemedimdoe18@gmail.com">hemedimdoe18@gmail.com</a></li>
    <li><strong>Phone:</strong> <a href="tel:+255678260396">+255 678 260 396</a></li>
    <li><strong>Address:</strong> 123 Mwanga, Kilimanjaro, Tanzania</li>
  </ul>
{% endblock content %}