{% extends "vichekesho_app/base.html" %}

{% block title %}Badilisha Nenosiri{% endblock title %}

{% block content %}
  <div class="form-container">
    <h2>Badilisha Nenosiri</h2>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
          {% for error in field.errors %}
            <p class="form-error">{{ error }}</p>
          {% endfor %}
        </div>
      {% endfor %}
      <button type="submit" class="form-button">Badilisha Nenosiri</button>
    </form>
  </div>
{% endblock content %}